.footer
	script(src="/socket.io/socket.io.js")
	script(src="/client/game/static/game_config.js")
	script(src="/static/js/socket.js")
	script(src="/static/js/socket_handlers.js")
	script(src="/client/game/interface/label.js")
	script(src="/client/game/interface/button.js")
	script(src="/client/game/interface/userinterface.js")
	script(src="/client/game/game_controller.js")
	script(src="/client/game_socket.js")

	script(src="/client/game/static/static.js")

	script(src="/client/game/tile.js")
	script(src="/client/game/canvas_controller.js")

